grant {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "shutdownHooks";
    permission java.net.SocketPermission "*:1099","connect,resolve,accept";
};